body {
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans';
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header{
    display:flex;
}

.logo{
    margin: auto;
    margin-left: 100px;
    margin-right: 50px;
}

nav ul{
    list-style-type: none;
    padding: 20px;
    margin: 20px; 
}

nav{
    width: 700px;
}

li{
    margin: auto;
    display:inline-block;
    padding-right: 40px;
}

li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

li a:hover:after {
	width: 90%;
	background: orange;
}

a{
    text-decoration: none;
    color: black;
}

.profil{
    margin: auto;
    display: flex;
    align-items: center;
}

    
#cart, #avatar{
    display: inline-block;
    padding-right: 30px;
}



.textbox {
    height: 500px;
    width: 600px;
    margin-left: 900px;
    margin-bottom: 150px;
    margin-top: 50px; 
    
}

.text{
    padding-top: 30px;
}


h1{
    color: orange;
    font-size: 14px;
    margin-bottom: -45px;
    padding-bottom: 30px;
}

h2{
    font-size: 30px;
}

.description{
    font-size: 15px;
    color: grey;
    padding-bottom: 10px;
}

.price{
    padding-bottom: 50px;
    
}

.add{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.compte{
    background-color: beige;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p4{
    background-color: orange;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.picturebox {
    height: 500px;
    width: 600px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: -657px;
    
}

.mainImage{
    text-align: center;
}

.mainImage img{
    border-radius: 8px;
    width: 500px;
  max-width: 100%;
  margin-bottom: 40px;
}

.picture {
  display: flex;
  justify-content: center;
  gap: 40px;
  
}

.picture img {
    width: 95px;
    height: 100x;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s;
}

.picture img:hover {
  transform: scale(1.05);
}

/* Miniature sélectionnée */
.picture img.active {
  opacity: 0.5;
  border: 2px solid #ff7d1a;
  border-radius: 8px;
}

