body {
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans';
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header{
    display:flex;
}

.logo{
    margin: auto;
    margin-left: 100px;
    margin-right: 50px;
}

nav ul{
    list-style-type: none;
    padding: 20px;
    margin: 20px; 
}

nav{
    width: 700px;
}

li{
    margin: auto;
    display:inline-block;
    padding-right: 40px;
}

li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

li a:hover:after {
	width: 90%;
	background: orange;
}

a{
    text-decoration: none;
    color: black;
}

.profil{
    margin: auto;
    display: flex;
    align-items: center;
}

    
#cart, #avatar{
    display: inline-block;
    padding-right: 30px;
}

.section{
    position: absolute;
}

.textbox {
    position: relative;
    border: 5px solid red;
    height: 500px;
    width: 500px;
    margin-left: 900px;
    margin-bottom: 150px;
    margin-top: 50px; 
    
}

.text{
    padding-top: 30px;
    
}
.picturebox {
    position: relative;
    border: 5px solid red;
    height: 500px;
    width: 600px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: -657px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

#pic1 {
    border-radius: 10px;
}

h1{
    padding-bottom: 30px;
}
 
h2{
    
}

.p1{
    padding-bottom: 30px;
}

.p2{
    padding-bottom: 50px;
    
}

.add{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.compte{
    background-color: beige;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    

}


.p4{
    background-color: orange;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    
}

