body {
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans';
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header{
    display:flex;
}

ul {
    display: flex;
    list-style-type: none; 
}

nav ul{
    padding: 20px;
    margin: 20px; 
}

li{
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.profil{
    padding-left: 750px;
    display: flex;
}

nav, .profil{
    display: flex;
    display: inline-block;
}

